@import url(reset.css);
@import url(fonts.css);

body {
    font-family: Arial, sans-serif;
}

header {
    height: 222px;
    background:  url(../images/topback.jpg);
    background-size: 100% 100%;
    text-align: center;
    padding-top: 20px;
}

h2 {
    font-size: 72px;
    font-weight: bold;
    line-height: 90px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
    color: #999999;
}

.author {
    color: #48a7af;
}

h4 {
    font-size: 11px;
    font-weight: bold;
    line-height: 32px;
    color: #999999;
}

.book-options {
    margin-top: 18px;
}

.book-options a {
    text-decoration: none;
    background: #262626;
    color: white;
    font-size: 12px;
    padding: 9px 23px 9px 23px;
    border-radius: 6px;
    margin-right: 1px;
}

.book-options a.favorite {
    padding: 9px 19px 9px 19px;
    background-image: url(../images/heart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 4px;
}

nav {
    height: 59px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    font-size: 0;
}

nav a {
    display: inline-block;
    padding: 8px 14px 9px 14px;
    border-left: 1px solid #d9d9d9;
    font-size: initial;
    text-decoration: none;
    color: black;
}

nav a.last {
    border-right: 1px solid #d9d9d9;
}

nav a .line1 {
    font-family: "SignPainter-HouseScript";
    font-size: 22px;
}

nav a .line2 {
    font-family: Arial Black, Arial Bold, sans-serif;
    font-size: 20px;
}
