@import url(reset.css);
@import url(fonts.css);

body {
    font-family: Arial, sans-serif;
}

header {
    height: 222px;
    background:  url(../images/topback.jpg);
    background-size: 100% 100%;
    text-align: center;
    padding-top: 20px;
}

h2 {
    font-size: 72px;
    font-weight: bold;
    line-height: 90px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    line-height: 32px;
    color: #999999;
}

.author {
    color: #48a7af;
}

h4 {
    font-size: 11px;
    font-weight: bold;
    line-height: 32px;
    color: #999999;
}

.book-options {
    margin-top: 18px;
}

.book-options a {
    text-decoration: none;
    background: #262626;
    color: white;
    font-size: 12px;
    padding: 9px 23px 9px 23px;
    border-radius: 6px;
    margin-right: 1px;
}

.book-options a.favorite {
    padding: 9px 19px 9px 19px;
    background-image: url(../images/heart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 4px;
}

nav {
    height: 59px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
    font-size: 0;
}

nav a {
    display: inline-block;
    padding: 8px 14px 9px 14px;
    border-left: 1px solid #d9d9d9;
    text-decoration: none;
    color: black;
}

nav a.last {
    border-right: 1px solid #d9d9d9;
}

nav a .line1 {
    font-family: "SignPainter-HouseScript";
    font-size: 22px;
}

nav a .line2 {
    font-family: Arial Black, Arial Bold, sans-serif;
    font-size: 20px;
}

.container {
    width: 1000px;
    margin: auto;
}

section .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

section .title {
    width: 140px;
    margin: 5px auto 30px auto;
    text-align: center;
    font-size: 30px;
    font-family: Arial Black;
}

section .title .font-signpainter {
    font-size: 36px;
    line-height: 32px;
}

#about-this-book .left {
    width: 340px;
    float: left;
}

#about-this-book .content {
    width: 660px;
    margin-left: 340px;
}

.book-picture {
    width: 298px;
    height: 375px;
    background: url(../images/bookback.jpg);
    perspective: 220px;
    perspective-origin: 50% 40%;
    margin-top: 8px;
    margin-left: 40px;
}

.book-picture img {
    width: 179px;
    height: 313px;
    margin-top: 16px;
    transform: rotateY(-14deg);
}

a.button {
    padding: 11px 17px 10px 17px;
    background: linear-gradient(#6db9bf 45%, #58afb6 55%, #4aa8b0);
    color: white;
    font-size: 12px;
    text-decoration: none;
    border-radius: 7px;
    display: inline-block;
}

a.button.review {
    margin-top: 10px;
    margin-left: 60px;
}

#about-this-book p {
    color: #666666;
    line-height: 18px;
}

.price-box {
    width: 300px;
    height: 215px;
    background: gray;
    float: right;
    margin: 0px 0px 30px 30px;
}

#about-this-book .book-info {
    margin-top: 26px;
    font-size: 10px;
    line-height: 17px;
    color: #999999;
}

#about-this-book .book-info b {
    color: black;
}

#favorite-quotes {
    background: #262626;
    color: white;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

a.button.quote {
    margin-top: 14px;
    margin-bottom: 84px;
}

#favorite-quotes .quotes {
    width: 960px;
    height: 48px;
    background: url(../images/quotes.png);
    margin: auto auto 92px auto;
    font-family: "Free Serif", serif;
    font-size: 32px;
    font-style: italic;
}

a.button.all-quotes {
    background: linear-gradient(#ffffff 45%, #fefefe 55%, #f3f3f3);
    color: #48a7af;
    border: 1px solid #d9d9d9;
}
